@media (max-width: 760px) {
  #apply_wrapper {
    margin: 150px 1vw;
  }
}

#apply_wrapper {
  height: 100%;
  margin: 150px 10vw;
  background-color: #f8f6f1;
  color: black;
  padding-bottom: 20px;
}

#apply_title {
  height: 90px;
  display: flex;
  align-items: center;
  margin: 0 40px;
  margin-bottom: 25px;
  font-size: 20px;
  border-bottom: 1px solid lightgray;
}

#apply_input input {
  width: 34vw;
  height: 30px;
  margin: 5px 15px 25px 15px;
  border: 1px solid lightgray;
  padding-left: 15px;
}

#apply_input label {
  float: left;
  padding-left: 4%;
}

#apply_input1 label span {
  color: crimson;
}

#apply_input1,
#apply_input2,
#apply_input3,
#apply_input4 {
  display: inline-block;
}

#apply_input_bottom input {
  width: 72vw;
}

#apply_btn1 {
  margin: 20px;
  background-color: #e6a624;
  border: none;
  padding: 15px 30px;
  border-radius: 10vw;
  color: aliceblue;
}

#apply_btn1:hover {
  background-color: #13a0b1;
}
